
<div class="container">
<div style="display: inline;">
    <div>>test-socket works!</div>
    <div style="float: right;">
        Ping: {{showCount}}
    </div>

</div>
<form #MessageBox="ngForm" (ngSubmit)="onClickSubmit(MessageBox.value)" >
    <input type="datetime-local" name="datetime" placeholder="datetime" ngModel>   
    <!-- <input type="date" name="time" placeholder="time" ngModel> -->
    <br/>
    <input type="text" name="username" placeholder="ชื่อ" ngModel>
    <br/>
    <input type="text" name="message" placeholder="message/video" ngModel>
    <br/>
    <button class="sumbit-btn" type="submit" value="submit">Send</button>
</form>
<div *ngIf="url">
    <iframe id="video" [src]="urlSanitizer(url)"></iframe>
</div>
<div>
    <img *ngIf="imageCapture != '' && imageCapture != null" [src]="imageCapture" style="width: 300px; height: 300px; border: 2px solid black;">  
</div>
<div *ngIf="url">
    <!-- <iframe [src]="urlSanitizer(url)" type="text/html"></iframe> -->
</div>
<!-- <video *ngIf="url" width="100%" autoplay="autoplay" controls style="margin-top: 50px; margin-bottom: 20px;">
    <source [src]="urlSanitizer(url)" type="video/mp4">
</video> -->

</div>

<div #chat id="chat" class="list-box">
    <ul class="message-box" id="message-box" *ngFor="let message of messageBox">
        <li> {{ message.message }}  </li>
    </ul>
</div>