<p>test-socket works! {{showCount}}</p>
<form #MessageBox="ngForm" (ngSubmit)="onClickSubmit(MessageBox.value)" >
    <input type="number" name ="currentTime" placeholder="currentTime" ngModel>
    <br/>
    <input type="text" name ="username" placeholder="username" ngModel>
    <br/>
    <input type="text" name="message" placeholder="message" ngModel>
    <br/>
    <input type="submit" value="submit">
</form>
<div *ngIf="url">
    <iframe id="video" [src]="urlSanitizer(url)"></iframe>
</div>
<div *ngIf="url">
    <!-- <iframe [src]="urlSanitizer(url)" type="text/html"></iframe> -->
</div>
<!-- <video *ngIf="url" width="100%" autoplay="autoplay" controls style="margin-top: 50px; margin-bottom: 20px;">
    <source [src]="urlSanitizer(url)" type="video/mp4">
</video> -->



<div class="list-box">
    <ul class="message-box" id="message-box" *ngFor="let message of messageBox">
        <li>{{ message.message }}</li>
    </ul>
</div>