<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="assets/Icon/RADIO.png" alt=""
                style="border-radius: 250px;  height: 100px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">บางอ่อ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">ละเมอะ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">บางเสาธง</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form> -->
        </div>
    </div>
</nav>
<div class="row">
    <div #chat id="chat" class="list-box col text-center">
        <div style="height: 500px; background-color: rgb(49, 49, 49);">
            <div *ngIf="url">
                <iframe id="video" height="500px" width="80%" [src]="urlSanitizer(url)"></iframe>
            </div>
        </div>
        <div style="height: 100px;overflow: scroll;border: 2px solid white;">
            <ul class="message-box" id="message-box" *ngFor="let message of messageBox">
                <li> {{ message.message }} </li>
            </ul>
        </div>
    </div>
    <div class="col text-center">
        <form #MessageBox="ngForm" (ngSubmit)="onClickSubmit(MessageBox.value)" style="margin: 5rem;">
            <input type="number" name="currentTime" placeholder="currentTime" ngModel>
            <br />
            <input type="text" name="username" placeholder="ชื่อ" ngModel>
            <br />
            <input type="text" name="message" placeholder="message/video" ngModel>
            <br />
            <button class="sumbit-btn" type="submit" value="submit">Send</button>
        </form>
    </div>
</div>